body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 /*Set padding to keep content from hitting the edges*/ 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
  background-color: #CCCCCC;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #AD0000;
}
.navbar-inverse .navbar-nav > li > a {
  color: #AD0000;
}

.navbar {
  position: relative;
  padding-top: 15px;
  padding-bottom: 10px;
  height: 100%;
  border: 1px solid transparent;
  border-bottom: 5px solid;
  border-bottom-color: black;
}
body{
    padding-top:0px;
}

.panel-heading > h2{
    color: white !important;
}
body > div.navbar.navbar-inverse.navbar-fixed-top > div.container{
    margin-left: 20px;
    margin-right: 20px;
}

/*.calendar-panel{
    margin-top:170px;
}*/

.panel-danger>.panel-heading {
background-color: #AD0000;
}
select, select.form-control {

    width:100%;
}
body > div.dhx_cal_light.dhx_cal_light_wide > div.dhx_cal_larea > div:nth-child(2) > div.dhx_section_time
{
    width:10%;
}

