@model SoNWebApp.Models.ViewModels.posViewModel
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Edit Program of Study - ";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="panel panel-danger" style="border:1px solid #808080;">
    <div class="panel-heading">
        <h3 style="color:#FFFFFF">Program of Study with Projected Courses</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-danger">
                    <div class="panel-heading">
                        <h4 style="color:#FFFFFF">Program of Study</h4>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_ProgramOfStudyDocuments", Model.posDocument)
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel-danger">
                    <div class="panel-heading">
                        <h4 style="color:#FFFFFF">Projected Courses</h4>
                    </div>
                    <center>
                        <div class="panel-body">
                            @Html.Partial("_ChangeProjectedSchedule", Model.posCourses, new ViewDataDictionary())
                        </div>
                    </center>
                </div>
            
            </div>
            </div>
        </div>
    </div>


