@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="panel-danger" style="margin-top:125px;">
        <div class="panel-heading">
        <h3 class="text-center" style="color:#FFFFFF;">Admin Dashboard</h3>
    </div>



        <div class="panel-body" style="border: 10px solid black;">
            <center>
                <div class="row">
                    <div class="list-inline">
                        <ul class="list-inline">
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/UserManagement/Index"><font color="white">Manage Users </font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/ManageAlerts"><font color="white">Manage Alerts</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/DatabaseAdmin"><font color="white">Db Admin</font></a></div></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="list-inline">
                        <ul class="list-inline">
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Home"><font color="white">Import</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Home"><font color="white">Export</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Reports"><font color="white">Reports</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Event/Index"><font color="white">Events</font></a></div></li>
                         </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="list-inline">
                        <ul class="list-inline">
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Admin/Calendar"><font color="white">Calendar</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Advisor/CRM"><font color="white">CRM</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Courses/Index"><font color="white">Courses</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Todos/Index"><font color="white">To-Dos</font></a></div></li>
                         </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="list-inline">
                        <ul class="list-inline">
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Program/Index"><font color="white">Programs</font></a></div></li>
                            <li><div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Campus/Index"><font color="white">Campuses</font></a></div></li>
                        </ul>
                    </div>
                </div>
            </center>
    </div>
</div>

</div>