@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="panel-danger" style="border:1px solid #808080;">
        <div class="panel-heading">
            <h4 style="color:#FFFFFF">Advisors</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <ul>
                    <li>
                        <p>
                            Shaun Sowell<br />
                            Academic Counselor, Sr. <br />
                            Advises A-G Lower and Upper Division Traditional students<br />
                            HSC Advising Center, Room 102 <br />
                            Mondays, Tuesdays and Wednesdays 9:30 - 4:00<br />
                            <a href="mailto:shaun.sowell@louisville.edu"> Email Shawn Sowell</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Andre Brewer<br />
                            Academic Counselor, Sr. <br />
                            Advises all RN-BSN Online Program students<br />
                            Advises H-L  Lower and Upper Division Traditional students<br />
                            HSC Advising Center, Room 102 <br />
                            Tuesdays and Wednesdays 8:30 - 3:30<br />
                            <a href="mailto:andre.brewer@louisville.edu">Email Andre Brewer</a>
                        </p>
                    </li>
                </ul>
            </div>



            <div class="col-md-4">
                <ul>
                    <li>
                        <p>
                            Jessica Roussel<br />
                            Academic Counselor, Sr <br />
                            Advises M-Z  Lower and Upper Division Traditional students <br />
                            HSC Advising Center, Room 102A <br />
                            Mondays, Thursdays and Fridays 8:30 - 3:30 <br />
                            <a href="mailto:jessica.roussel@louisville.edu">Email Jessica Roussel</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Teri Knott<br />
                            All Owensboro Program<br />
                            <a href="mailto:tdhigd02@louisville.edu">Email Teri Knott</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>
                        <p>
                            Jessica Jackey<br />
                            All Graduate Programs<br />
                            <a href="mailto:jessica.jackey@louisvill.edu">Email Jessica Jackey</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
   





