@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .column {
        float: left;
        position: relative;
        width: 350px;
        /*/*for demo purposes only */
        /*background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;*/ */;
    }

    .column-offset-1 {
        left: 0%;
    }

    .column-offset-2 {
        left:4%;
    }

    .column-offset-3 {
        left: 5%;
    }
</style>
<div class="panel">
    <div class="panel-heading">Advisors
    <div class="panel-body">
        <div class="column column-one column-offset-1">
            <ul>
                <li>
                    <p>
                        Shaun Sowell<br />
                        Academic Counselor, Sr. <br />
                        Advises A-G Lower and Upper Division Traditional students<br />
                        HSC Advising Center, Room 102 <br />
                        Mondays, Tuesdays and Wednesdays 9:30 - 4:00<br />
                        <a href="mailto:shaun.sowell@louisville.edu" target="_blank">Email Shaun Sowell</a>
                    </p>
                </li>
                <li>
                    <p>
                        Andre Brewer<br />
                        Academic Counselor, Sr. <br />
                        Advises all RN-BSN Online Program students<br />
                        Advises H-L  Lower and Upper Division Traditional students<br />
                        HSC Advising Center, Room 102 <br />
                        Tuesdays and Wednesdays 8:30 - 3:30<br />
                        <a href="mailto:andre.brewer@louisville.edu" target="_blank">Email Andre Brewer</a>
                    </p>
                </li>
            </ul>
        </div>


        <div class="column column-two column-offset-2">
            <ul>
                <li>
                    <p>
                        Jessica Roussel<br />
                        Academic Counselor, Sr <br />
                        Advises M-Z  Lower and Upper Division Traditional students <br />
                        HSC Advising Center, Room 102A <br />
                        Mondays, Thursdays and Fridays 8:30 - 3:30 <br />
                        <a href="mailto:jessica.roussel@louisville.edu" target="_blank">Email Jessica Roussel</a>
                    </p>
                </li>
                <li>
                    <p>
                        Teri Knott<br />
                        All Owensboro Program<br />
                        <a href="mailto:tdhigd02@louisville.edu" target="_blank">Email Teri Knott</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="column column-three column-offset-3">
            <ul>
                <li>
                    <p>
                        Jessica Jackey<br />
                        All Graduate Programs<br />
                        <a href="mailto:jessica.jackey@louisvill.edu" target="_blank">Email Jessica Jackey</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
  




@*<div class="row">
    <div class="col-md-12" style="align-content:center; padding-bottom:40%;">
        <div class="well well-sm">
            <div class="row">
                
                <div class="col-sm-6 col-md-8" style="align-content:center; padding-top:10%; padding-left:10%;">
                    <h4>
                        Bhaumik Patel
                    </h4>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
               
                    
                </div>
            </div>
        </div>
    </div>
</div>*@