@{
    Layout = "~/Views/Shared/StudentLayoutPage.cshtml";
}

@model IEnumerable<SoNWebApp.Models.Todos>


<div class="col-md-3"></div>
<div class="col-md-6">
<div class="panel-danger">
    <div class="panel-heading">
        <h4 style="color:#FFFFFF">To-Do List</h4>
    </div>
    <center>
        <div class="panel-body">
            <table border="1" style="color:black; width: 100%;border:1px solid #808080;">
                <tr>
                    <th>
                        <b>
                            Message
                        </b>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                    </tr>
                }
            </table>        </div>
    </center>
</div>
    </div>
 