@{
    Layout = "~/Views/Shared/StudentLayoutPage.cshtml";
}

<head>
    <title>To Do List</title>
    <meta charset="utf-8" />
</head>
<body>
    <center>
        <div class="panel-heading"><font color="white">Alerts</font></div>
        
        <div class="panel-body">
            <table class="table" border="1" style="background-color:white;position:relative; margin: 0 auto 100px; padding: 65px;" >
                <tbody>
                    <tr>
                        <td colspan="3">
                            <b>
                                <font color="black">File FAFSA</font>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                <font color="black">Drug Test Next Week</font>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                <font color="black">Turn In Clinical Compliance Documents</font>
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
</body>
