@model SoNWebApp.Models.ViewModels.StudentDefaultViewModel
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Student Home - ";
}
@{
    Layout = "~/Views/Shared/StudentLayoutPage.cshtml";

}

<div class="panel panel-danger" style="border:1px solid #808080;">
    <div class="panel-heading">
        <h3 style="color:#FFFFFF">Student Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-danger">
                    <div class="panel-heading">
                        <h4 style="color:#FFFFFF">Personal Information</h4>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_StudentPartial", Model.StudentsList)
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel-danger">
                    <div class="panel-heading">
                        <h4 style="color:#FFFFFF">To-Do List</h4>
                    </div>
                    <center><div class="panel-body">
                        @Html.Partial("_TodosPartial", Model.TodosList)
                    </div> </center>
                </div>

                <div class="panel-danger">
                    <div class="panel-heading">

                        <h4 style="color:#FFFFFF">Links</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                            Link to Upper Division Application<br />
                            @Html.ActionLink("Apply for Upper Division","Create","UDApplications",false,false)
                            </p>
                            <p>
                                Already Applied? Check your status here!<br/>
                             <a href="@Url.Action("StudentStatus", "UDApplications")">View Application Status</a>
                            </p>
                            <p>
                                Link to current students<br />
                                <a href="https://louisville.edu/nursing/current-students">https://louisville.edu/nursing/current-students</a>
                            </p>
                                    <p>
                                        Link to BSN program<br />
                                        <a href="https://louisville.edu/nursing/bsn">https://louisville.edu/nursing/bsn</a>
                                    </p>
                                    <p>
                                        Link to current students<br />
                                        <a href="https://louisville.edu/nursing/current-students">https://louisville.edu/nursing/current-students</a>
                                    </p>

                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
