@{
    ViewBag.Title = "Upload Document - ";
}
@{
    Layout = "~/Views/Shared/StudentLayoutPage.cshtml";
}
<div class="panel-danger" style="border:1px solid #808080;">
    <div class="panel-heading">
        <h3 style="color:#FFFFFF">Upload Document</h3>
    </div>
    <div class="panel-body">
    
                @using (Html.BeginForm("UploadDocument", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                  <center>
                    <div class="col-md-3">
                        <div>
                            <label for="single" class="control-label">Compliance Type:</label>       
                            </div>
                        </div>
                      </center>
                      <center>
                        <div class="col-md-2">
                            <div>             
                            <select name="DocumentType" id="DocumentType">
                                <option value="Select Type...">Select Type...</option>
                                <option value="CPR">CPR</option>
                                <option value="HIPPA">HIPPA</option>
                                <option value="Bloodbourne Path">Bloodbourne Path</option>
                                <option value="Liability Insurance">Liability Insurance</option>
                                <option value="Immunizations">Immunizations</option>
                                <option value="Drug Screening">Drug Screening</option>
                                <option value="CNA">CNA</option>
                            </select>
                    </div>
                    </div>
                          </center>
                      <center>
                            <div class="col-md-6">
                                <div>
                                    <label for="expirationDate">Expiration Date:</label>
                                    <input type="date" name="expirationDate" id="expirationDate" />
                                </div>
                            </div>
                            </center>
                            <br />
                            <br />
                            <center>
                        <div class="col-md-12">
                            <div>
                                <label for="file">Upload Document:</label>
                                <input type="file" name="file" id="file" />
                            </div>
                            </div>
                                </center>

                            <br />
                            <br />
                            <br />                         
                             <div class="col-md-12">
                                <center>
                                    <input type="submit" />
                                </center>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <div class="btn btn-default" style="background-color: #AD0000;  font-size: medium; border-color: #AD0000; margin-bottom: 5px;"><a href="/Student/ClinicalCompliance"><font color="white">Return To Compliance</font></a></div>
                                    <div class="btn btn-default" style="background-color: #AD0000;  font-size: medium; border-color: #AD0000; margin-bottom: 5px;"><a href="/Student/ViewDocuments"><font color="white">View Documents</font></a></div>                              
                                </div>
                            </div>
                          
                        
                    


                }

</div>
    </div>