@model IEnumerable<string>


<table border="1" style="color:black; width: 100%;border:1px solid #808080;">
    <tr>
        <th>
            <b>
                Message(s)
            </b>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               @item
            </td>
        </tr>
    }
</table>
