@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}

@model SoNWebApp.Models.ViewModels.AdvisorDefaultViewModel
@using System.Web.Mvc.Html


<div class="panel panel-danger" style="border:1px solid #808080;">
    <div class="panel-heading">
        <h3 style="color:#FFFFFF">Advisor Dashboard</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-danger">
                    <div class="panel-heading">
                        <h4 style="color:#FFFFFF">To-Do List</h4>
                    </div>
                    <center>
                        <div class="panel-body">
                            @Html.Partial("_TodosPartial", Model.TodosList)
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel-danger">
                    <div class="panel-heading">
                        <h4 style="color:#FFFFFF">Alerts</h4>
                    </div>
                    <center>
                        <div class="panel-body">
                            @Html.Partial("_TodosPartial", Model.TodosList)
                        </div>
                    </center>
                </div>
              </div>
           </div>
         </div>
      </div>