@model SoNWebApp.Models.Student
@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading calendar-panel" style="color:white;padding-top: 25px; padding-bottom:25px">
            <h2 style="text-align:center;">Reports</h2>
            </div>
        </div>
    </div>
       

@Html.ActionLink("Student GPA Report", "GPAReport", new {gpaThreshold = 3.0M })
      