@model SoNWebApp.Models.ViewModels.StudentRecordsViewModel
@{
    ViewBag.Title = "Student Records - ";
}
@{
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}

        


    <div class="panel panel-danger" style="border:1px solid #808080;">
        <div class="panel-heading">
            <h3 style="color:#FFFFFF">Student Records</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel-danger">
                        <div class="panel-heading">
                            <h4 style="color:#FFFFFF">Student Information</h4>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("_StudentRecordsPartial", Model.StudentsList)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="panel-danger">
                        <div class="panel-heading">
                            <h4 style="color:#FFFFFF">To-Do List</h4>
                        </div>
                        <center>
                            <div class="panel-body">
                                @Html.Partial("_TodosPartial", Model.TodosList)

                                <p>
                                    <div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/Enrollments/Index"><font color="white">Post Grades </font></a></div>
                                </p>
                                <p>
                                    <div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href=""><font color="white">Import Roster </font></a></div>
                                </p>
                                <p>
                                    <div class="btn btn-default" style="margin-top: 15px; background-color: #AD0000;  font-size: medium; border-color: #AD0000;"><a href="/UDApplications/Index"><font color="white">Graduate Applications </font></a></div>
                                </p>
                            </div>
                        </center>
                    </div>

                 
                      

                        </div>
                    </div>
                </div>
            </div>
  


