
@{
    ViewBag.Title = "User Roles";
    Layout = "~/Views/Shared/AdvisorLayoutPage.cshtml";
}
@model List<SoNWebApp.Models.ViewModels.SelectUserRolesViewModel>

<h2>User Roles</h2>
@{ var list = Model.ToList();
    for (int i = 0; i < list.Count; i++)
    {
        <div class="col-md-12">
            <div class="col-md-6"><b>User Name</b></div>
            <div class="col-md-6"><b>Roles</b></div>
        </div>
            <div class="col-md-12">
                <div class="col-md-4">@Html.DisplayFor(modelItem => list[i].UserName)</div>
                <div class="col-md-4">
                    @foreach (var user in Model)
                    {
                        foreach (var role in user.Roles)
                        {
                            for (int r = 0; r < user.Roles.Count; r++)
                            {
                                @Html.DisplayFor(m => m[i].Roles[r].RoleName)
                            }

                        }
                    }
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Edit", "UserManagement", new {@id = list[i].Id})">Edit</a>
                </div>
            </div>
    }
}
<br />
<br />
<br />