@{
    ViewBag.Title = "Contact Us";
}
<center>
    <h2>School of Nursing Contact Information</h2>
</center>
<h3>Contact Us</h3>
<address>
    University Of Louisville School of Nursing<br />
    Louisville, Ky 40208<br />
    <strong>Toll Free: 1-877-81-NURSE </strong>
</address>

<div class="row-fluid">
    <div class="span4">
        <h2>Administrative Offices</h2>
        <ul>
            <li>BSN Director & Undergraduate Faculty: (502) 852-1090</li>
            <li>MSN Director, PhD Director & Graduate Faculty: (502) 852-3848</li>
            <li>Research Associate Dean & Office: (502) 852-3660</li>
            <li>Dean's Office: (502) 852-8300</li>
        </ul>
        <h2>Fax</h2>
        <p>School of Nursing Main Fax Number: (502) 852-8783</p>
        <h3>Advisors</h3>
        <ul>
            <li>
                Shaun Sowell <br /> Traditional A-G Lower and Upper Division
                <br /> <a href="mailto:shaunsowell@louisville.edu">Send Email</a> "
            </li>
        </ul>
    </div>
</div>