@{
    ViewBag.Title = "Contact Us";
}
<center>
    <h2>School of Nursing Contact Information</h2>

    <h2>Contact Us</h2>
    <address>
        University Of Louisville School of Nursing<br />
        Louisville, Ky 40208<br />
        <strong>Toll Free: 1-877-81-NURSE </strong>
    </address>
</center>
<div class="row">
    <div class="col-md-4">
        <h2>Administrative Offices</h2>
        <ul>
            <li>BSN Director & Undergraduate Faculty: (502) 852-1090</li>
            <li>MSN Director, PhD Director & Graduate Faculty: (502) 852-3848</li>
            <li>Research Associate Dean & Office: (502) 852-3660</li>
            <li>Dean's Office: (502) 852-8300</li>
        </ul>
      </div>
    <div class="col-md-4">
        <h2>Fax</h2>
        <p>School of Nursing Main Fax Number: (502) 852-8783</p>
    </div>
    <div class="col-md-4">
        <h2>Advisors</h2>
        <ul>
            <li>
                Shaun Sowell <br /> Traditional A-G Lower and Upper Division
                <br /> <a href="mailto:shaunsowell@louisville.edu">Send Email</a> "
            </li>
        </ul>
     
    </div>
</div>