@{
    ViewBag.Title = "";
}
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script> 

<div class="row">
    <div>

        <div>
            @{ ViewBag.Title = "UofL School of Nursing"; }
            <center>
                <h2>Upcoming Events</h2>
            </center>
            @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
   {
       BackendUrl = Url.Content("~/Calendar/Backend"),
   })

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Twitter Feed</h2>
        <p> SON Twiter Feed Coming Soon</p>
        <p><a class="wrapper" href="https://twitter.com/uofl_son">View Twitter Profile &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>Facebook Feed</h2>
        <p>SON Facebook Feed Coming Soon</p>
        <p><a class="wrapper" href="https://www.facebook.com/UniversityOfLouisvilleSchoolOfNursing">View Full Facebook Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn Feed</h2>
        <p>SON LinkedIn Feed Coming Soon</p>
        <p><a class="wrapper" href="https://www.linkedin.com/school/7650">View Full LinkedIn Profile &raquo;</a></p>
    </div>
</div>