@{
    ViewBag.Title = "";
}
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script> 
    <div class="row">
        <div class="img-circle">
            <p>
                <center><img src="~/Content/Images/SONAD.jpg" alt="Louisville" align="middle" /> </center>
            </p>
        </div>
    </div>
<div class="row">
    <div>

        <div>
            @{ ViewBag.Title = "Upcoming Events"; }
            <center>
                <h2>Upcoming Events</h2>
            </center>
            @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
   {
       BackendUrl = Url.Content("~/Calendar/Backend"),
   })

        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Apply Online</h2>
        <p> Apply Online to the University of Louisville</p>
        <p><a class="wrapper" href="https://www.louisville.edu/apply">Apply Now &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>View Programs of Study</h2>
        <p>This contains a collective list of degree programs offered through the University of Louisville for Nursing.</p>
        <p><a class="wrapper" href="https://www.louisville.edu/apply">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate Now</h2>
        <p>Contribute to one of the best programs at the University of Louisville. Click the link to learn more.</p>
        <p><a class="wrapper" href="https://www.paypal.com">Donate Now &raquo;</a></p>
    </div>
</div>