@{
    ViewBag.Title = "";
}
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script> 

<div class="row">
    <div class="panel panel-danger" > 
        <div class="panel-heading calendar-panel" style="color:white;">
         <h2 class="text-center" >Upcoming Events</h2> 
</div>
        <div class="panel-body">

            <div>
                @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
       {
           BackendUrl = Url.Content("~/Calendar/Backend"),
           ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.WorkWeek
       })

            </div>

        </div>

    </div>

</div>