@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Whats Happening in the School of Nursing</h1>
    <p class="lead">(News/Calendar will go here)</p>
    <p><a href="https://louisville.edu"></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Online</h2>
        <p> Apply Online to the University of Louisville</p>
        <p><a class="wrapper" href="https://www.louisville.edu/apply">Apply Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Programs of Study</h2>
        <p>This contains a collective list of degree programs offered through the University of Louisville for Nursing.</p>
        <p><a class="wrapper" href="https://www.louisville.edu/apply">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate Now</h2>
        <p>Contribute to one of the best programs at the University of Louisville. Click the link to learn more.</p>
        <p><a class="wrapper" href="https://www.paypal.com">Donate Now &raquo;</a></p>
    </div>
</div>