@{
    ViewBag.Title = "";
}
@*<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script> 

<div class="row">
    <div class="panel panel-danger" > 
        <div class="panel-heading calendar-panel" style="color:white;padding-top: 25px; padding-bottom:25px">
         <h2 class="text-center" >Upcoming Events</h2> 
</div>

        <div class="panel-body">

            <div>


                <div class="note">
                    <a href="javascript:dp.commandCallBack('previous');">Previous</a> |
                    <a href="javascript:dp.commandCallBack('next');">Next</a>
                </div>


                @Html.DayPilotMonth("dp", new DayPilotMonthConfig
           {
               BackendUrl = Url.Content("~/Calendar/Backend"),

           })*@
         

          
            @*</div>

        </div>

    </div>

</div>*@