@model SoNWebApp.Models.ForgotPasswordViewModel

<head>
    <link rel="stylesheet" href="~/content/Login-page.css">
</head>
<div class="forgotpassword-page">
<div class="form">

    <form class="forgotpassword-form">
        <input type="text" placeholder="username@louisville.edu" />
        <button>Email link</button>
        <p class="message">Already registered? <a href="@Url.Action("Login", "Account")">Sign In</a></p>
        <p class="message">Not registered? <a href="@Url.Action("Register","Account")">Create an account</a></p>
    </form>
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
