@using SoNWebApp.Models
@model LoginViewModel
<head>
 <link rel="stylesheet" href="~/content/Login-page.css">   
</head>
<div class="login-page">
    <div class="form">
        
        <form class="login-form">
            <input type="text" placeholder="username@louisville.edu" />
            <input type="password" placeholder="password" />
            <button>login</button>
            <p class="message">Forgot your password? <a href="@Url.Action("ForgotPassword","Account")">Reset it here</a></p>
            <p class="message">Not registered? <a href="@Url.Action("Register","Account")">Create an account</a></p>
        </form>
    </div>
</div>
                
           

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}