@model SoNWebApp.Models.RegisterViewModel
<head>
    <link rel="stylesheet" href="~/content/Register-page.css">
</head>

<div class="register-page">
    <div class="form">

        <form class="register-form">
        <input type="text" placeholder="full name" />
        <input type="password" placeholder="password" />
        <input type="text" placeholder="email@louisville.edu" />
        <button>create</button>
        <p class="message">Already registered? <a href="@Url.Action("Login", "Account")">Sign In</a></p>
        </form>

    </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
